/* Import beatmap component styles */
@import 'components/beatmap/beatmap.css';

#popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}
#popup-container > * {
    pointer-events: auto;
}
/* Active state for triggers */
.popup-active {
    z-index: 5;
    position: relative;
}

:root {
    --user: var(--main);  /* Default fallback to main */
    --diff-color: 255, 255, 255;
}

/* Vue Score Card Component Styles */
    .scores {
        background: content-box;
        transition: 0.2s transform ease;
        padding: 6px;
    }
        .map-single {
            height: 72px;
            min-width: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 0;
            margin: 8px 0;
            justify-content: space-between;
            background: hsl(var(--main), 25%, 25%);
            transition: 0.2s ease;
            cursor: pointer;
        }
        .map-single:hover {
            border-radius: 8px;
            transform: translateY(-1px);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04),
                0 16px 24px rgba(0, 0, 0, 0.04), 0 24px 32px rgba(0, 0, 0, 0.04);
            background: hsl(var(--main), 30%, 30%);
        }
        .map-single:first-child {
            margin-top: 0;
        }
            .map-data {
                height: 72px;
                min-width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-right: 0;
                margin: 8px 0;
                justify-content: space-between;
                border-radius: 10px;
                transition: 0.2s ease;
                cursor: pointer;
            }
                .map-image {
                    display: flex;
                    position: relative;
                    flex-direction: row;
                    align-items: center;
                    height: 100%;
                    min-width: 10%;
                    max-width: 120px;
                    flex: 1;
                }
                    .map-image-picture {
                        width: 80%;
                        height: 80%;
                        margin: 0 auto;
                        border-radius: 6px;
                        object-fit: cover;
                    }
                .map-content1 {
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    height: 100%;
                    min-width: 0;
                    flex: 1;
                }
                    .map-title-block {
                        display: flex;
                        flex-direction: column;
                        line-height: 1;
                        margin-top: 5px;
                        margin-left: 6px;
                        min-width: 0;
                        padding-right: 12px;
                        flex: 2;
                    }
                        .map-title {
                            font-size: 14px;
                            display: flow-root;
                            font-weight: 500;
                            min-width: 75px;
                            align-items: center;
                            white-space: nowrap;
                        }
                        .map-title > a {
                            color: hsl(var(--user), 65%, 75%);
                            text-decoration: none;
                            font-weight: 500;
                        }
                        .map-creators {

                        }
                    .play-stats-block {
                        display: flex;
                        flex-direction: column;
                        line-height: 1;
                        margin-left: 6px;
                        min-width: 0;
                        padding-right: 12px;
                        flex: 2;
                    }
                        .play-stats-block .play-stats {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            text-wrap-mode: nowrap;
                        }
                          .play-stats span {
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            margin-left: 6px;
                          }
                          .play-stats span:first-child {
                            margin-left: 0;
                          }
                            .play-stats span > div {
                              margin-right: 4px;
                              background: hsl(var(--main), 45%, 45%);
                              padding: 3px 5px;
                              border-radius: 8px;
                              line-height: 0.8;
                              font-size: 10px;
                              text-shadow: 0px 2px 3px black;
                            }
                            .play-stats span > div.maple-settings {
                              position: relative;
                              cursor: pointer;
                              z-index: 1;
                            }
                        
                            .play-stats span > div.maple-settings > .maple-popup {
                              position: absolute;
                              background: hsl(var(--main), 35%, 45%);
                              border: 1px solid #444;
                              border-radius: 8px;
                              padding: 4px 4px 4px 4px;
                              z-index: 1000;
                              min-width: 150px;
                              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
                              left: 50%;
                              width: max-content;
                              max-width: 690px;
                              min-width: 80px;
                              transform: translateX(-50%) translateY(10px);
                              opacity: 0;
                              visibility: hidden;
                              transition: all 0.2s ease;
                            }
                        
                            .play-stats span > div.maple-settings > .maple-popup::after {
                                content: '';
                                position: absolute;
                                bottom: -5px;
                                left: 50%;
                                transform: translateX(-50%) rotate(45deg);
                                width: 10px;
                                height: 10px;
                                background: hsl(var(--main), 35%, 45%);
                                border-right: 1px solid #444;
                                border-bottom: 1px solid #444;
                            }
                        
                            .play-stats span > div.maple-settings > .maple-popup > .settings-grid {
                              display: flex;
                              flex-direction: row;
                              flex-wrap: nowrap;
                              gap: 2px;
                              max-width: none;
                            }
                            @media screen and (min-width: 8ch) {
                              .play-stats span > div.maple-settings > .maple-popup > .settings-grid:has(> .setting-item:nth-child(n+9)) {
                                flex-wrap: wrap;
                                max-width: calc(8 * (fit-content + 2px));
                              }
                            }
                        
                            .play-stats span > div.maple-settings > .maple-popup > .settings-grid > .setting-item {
                              display: flex;
                              position: relative;
                              align-items: center;
                              gap: 4px;
                              padding: 2px;
                              font-size: 0.9em;
                              min-width: fit-content;
                            }
                            .play-stats span > div.maple-settings > .maple-popup > .settings-grid > .setting-item .setting-name {
                              position: absolute;
                              bottom: 100%;
                              left: 50%;
                              transform: translateX(-50%) translateY(10px);
                              background: hsl(var(--main), 40%, 55%);
                              padding: 4px 8px;
                              border-radius: 4px;
                              font-size: 1.2em;
                              white-space: nowrap;
                              z-index: 1001;
                              opacity: 0;
                              visibility: hidden;
                              transition: all 0.2s ease;
                            }
                        
                            .play-stats span > div.maple-settings > .maple-popup > .settings-grid > .setting-item:hover .setting-name {
                                opacity: 1;
                                visibility: visible;
                                transform: translateX(-50%) translateY(0);
                            }
                        
                            .play-stats span > div.maple-settings > .maple-popup > .settings-grid > .setting-item > .setting-icon {
                                font-size: 1.28em;
                                width: 8px;
                                text-align: center;
                            }
                        
                            .play-stats span > div.maple-settings > .maple-popup > .settings-grid > .setting-item > .setting-value {
                                font-family: monospace;
                                font-size: 1.25em;
                            }
                        .map-date {
                            font-size: 10px;
                            font-weight: 500;
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
                        }
                            .map-date > time {
                                margin-top: 2px;
                            }
                .map-content2 {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    line-height: 1.2;
                    align-items: flex-end;
                    justify-content: center;
                }
                    .score-details {
                        height: 100%;
                        align-items: flex-end;
                    }
                        .score-details_right-block {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-end;
                            height: 100%;
                            min-width: 140px;
                            justify-content: center;
                            padding-right: 14px;
                            padding-left: 20px;
                            position: relative;
                            border-radius: 0 10px 10px 0;
                            z-index: 0;
                            margin-left: 6px;
                            align-items: center;
                        }
                            .score-details_pp-block {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;
                                height: 100%;
                                justify-content: center;
                                position: relative;
                                border-radius: 0 10px 10px 0;
                                z-index: 0;
                                margin-left: 6px;
                            }
                                .map-pp {
                                    font-weight: 700;
                                    color: hsl(var(--main), 30%, 55%);
                                    font-size: 20px;
                                }
                                .map-acc {
                                    font-size: 12px;
                                    display: flex;
                                    justify-content: flex-end;
                                }
                            .score-details_grade-block .rank-single {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                line-height: 1;
                                margin: 0;
                            }
                            .score-details_grade-block .map-rank {
                                font-size: 32px;
                            }

/* === Unsorted Component Styles === */

    @font-face { 
      font-family: 'Kawata icons'; 
      src: url(/static/fonts/Kawata_icons.ttf); 
    }
    .kawata-icon {
      font-family: 'Kawata icons';
      color: #fff !important;
      background-size: 100%;
      font-size: 22px;
      width: 19px;
      height: 19px;
      border-radius: 25px;
      text-align: center;
      margin-right: 8px;
      transition: 170ms text-shadow;
      font-weight: 400;
      padding-top: 1px;
    }
    
    
    
    .kawata-icon:before {
         content: "";
         position: relative;
         left: -3px;
         bottom: 7px;
    }
    
    .kawata-icon.std-diff:before {
        content: "A";
        position: relative;
        left: -3px;
        bottom: 7px;
    }
    
    .kawata-icon.taiko-diff:before{
        content: "B";
        left: -4px;
    }
    
    .kawata-icon.ctb-diff:before{
        content: "D";
    }
    
    .kawata-icon.mania-diff:before{
        content: "E";
        left: -4.3px;
    }
    .diff-expert {
        color: #bc6fff;
    }
    
    .diff-insane {
        color: rgba(255, 80, 212, 0.86);
    }
    
    
    .diff-hard {
        color: #c57f19;
    }
    
    .diff-normal {
        color: #2f8bbd;
    }
    
    .diff-easy {
        color: #65d223;
    }
    
    .kawata-icon.diff-expert {
        background-color: rgba(147, 49, 167, 0.66);
    }
    
    .kawata-icon.diff-insane {
        background-color: rgba(255, 0, 215, 0.66);
    }
    
    .kawata-icon.diff-hard {
        background-color: rgba(255, 176, 32, 0.66);
    }
    
    .kawata-icon.diff-normal {
        background-color: rgba(0, 149, 255, 0.66);
    }
    
    .kawata-icon.diff-easy {
        background-color: rgba(71, 210, 0, 0.8);
    }

/* === Shaders === */
    /* Psychedelic Shader */
        .bg-effect-psy {
            display: flex;
            justify-content: center;
            align-items: center;
        }