<html>

<head>
  <!-- title -->
  <title>{{ appName() }} - Admin - {% block title %}{% endblock %}</title>

  <!-- Three.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <!-- D3 -->
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <!-- VueJS -->
  <script src="/static/js/asserts/vue.js"></script>
  <script src="/static/js/asserts/vue-axios.js"></script>
  <script src="/static/js/vue-bootstrap.js"></script>
  <script src="https://unpkg.com/portal-vue@2.1.7/dist/portal-vue.umd.min.js"></script>
  
  <!-- Logger -->
  <script src="/static/js/comps/logger.js" crossorigin="anonymous"></script>
  {% if developerMode() %}
  <script>window.ColorfulLogger && window.ColorfulLogger.enableDebug('ALL');</script>
  {% endif %}

  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#d55b9e">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
  <meta name="theme-color" content="#000000">

  <!-- Metadata -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"
    integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g=="
    crossorigin="anonymous"></script>

  <!-- Bulma no not from Dragon Ball you DWEEB -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/HakuraSukinoe/bulma-hsl/bulma.min-v6.css" />

  <!-- Font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

  <!-- TimeAgo -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
  <!-- Custom style -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/components.css">
  <link rel="stylesheet" href="/static/css/components/badges.css">
  <link rel="stylesheet" href="/static/css/components/panels.css">
  <link rel="stylesheet" href="/static/css/pages/generic.css">
  <link rel="stylesheet" href="/static/css/hina_import.css">
  <link rel="stylesheet" href="/static/css/pages/admin/style.css">

  {% block header %}
  {% endblock %}
  <script>
    var domain = "{{ domain() }}";
  </script>
</head>

<body>
  {% include 'components/vue-templates.html' %}
  {% include 'admin/components/vue-templates.html' %}
  <!-- Header -->
  {% include 'components/navbar.html' %}

  <div id="search-panel"></div>
  <div id="docs-panel"></div>
  <div id="beatmap-panel"></div>
  <div id="score-panel-modal" style="z-index: 20;"></div>
  <div id="popup-container" style="position: fixed; top: 0; left: 0; width: 100%; height: 0; z-index: 9999;"></div>

  <!-- content -->
  <div class="content admin-con">
    <div class="columns is-marginless is-paddingless">
      <div class="column content">
        <div class="main-content">
          <div class="columns is-marginless">
            <div class="column is-paddingless is-avatar">
              <img src="https://a.{{ domain() }}/{{ session.user_data['id'] }}"
                onError="this.src='/static/images/avatar_notwork.png';" class="header-avatar">
            </div>
            <div class="column is-paddingless flex-vcenter">
              <h2 class="section-title">{% block panel %}{% endblock %}</h2>
              <p class="section-lead">Welcome to {{ appName() }} admin panel!</p>
            </div>
          </div>
          <section class="section">
            {% block content %}
            
            {% endblock %}
          </section>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  {% include 'components/footer.html' %}

  <!-- Main JS scripts -->
  <script src="/static/js/main.js" crossorigin="anonymous"></script>
  <script src="/static/js/components.js" crossorigin="anonymous"></script>
  <script src="/static/js/comps/shaders.js" crossorigin="anonymous"></script>
  <script src="/static/js/panels.js" crossorigin="anonymous"></script>

  <!-- Customisation -->
  {% block bottom %}
  <style>
    :root {
      {% if 'user_data' in session and 'hue' in session['user_data'] and session['user_data']['hue'] %}
        --main: {{ session['user_data']['hue'] }};
      {% else %}
        --main: 180;
      {% endif %}
    }
  </style>
  {% endblock %}
</body>

</html>
